- var links = ['base','grid','icons','buttons','form','video','table','card','modal','tabs','slider','helpers'];

nav.nav__lateral
  span(onclick="navLateral()").nav__icon.icon-navicon
  .nav__lateral--fondo.full(onclick="navLateral()")
  nav.nav__lateral--menu.wrapper
    ul
      each link, i in links
        li
          if link == 'base'
            if name == link
              a.active #{link}
            else
              a(href="index.html") #{link}
          else 
            if name == link
              a.active #{link}
            else
              a(href="#{link}.html") #{link}